asgiref==3.8.1
coreapi==2.3.3
Django==5.0.6
django-admin-extra-buttons==1.5.8
django-admin-rangefilter==0.13.0
django-celery-beat==2.6.0
django-celery-results==2.5.1
django-cors-headers==4.3.1
django-debug-toolbar==4.4.2
django-environ==0.11.2
django-extensions==3.2.3
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
drf-yasg==1.21.7
environ==1.0
factory-boy==3.3.0
Faker==26.0.0
inflection==0.5.1
packaging==24.1
psycopg2-binary==2.9.9
PyJWT==2.8.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
setuptools==70.2.0
six==1.16.0
sqlparse==0.5.0
uritemplate==4.1.1
redis==5.0.7
django-constance==3.1.0